<div class="container-fluid">


        <div id="searchInputPanel" class="panel panel-default">                
            <div class="panel-body">
                <form class="form-inline" role="form">
                    <input type="text" class="form-control" id="searchInput" ng-model="searchInputModel">
                    <button type="button" class="btn btn-default" ng-click="launchSearch(searchInputModel)">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </form>
            </div>
        </div>

        <div class="col-sm-12 mediaPanelColumn">
            <div class="panel panel-default">
                <div class="panel-body" id="searchResult" ng-bind-html="searchResult">
<!--                <p>{{searchResult}}</p>-->
                </div>
            </div>
        </div>


</div>
